body {
background-color: lightgrey;
text-rendering: optimizeSpeed;
font-family: serif, sans-serif;
line-height: 1.7;
font-size: 13px;
}

.header {
display: flex;
justify-content: space-around;
margin: 0px;
padding: 0px;
list-style: none;
background-color: darkblue;
color: white;
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
}

.surname {
color: bisque;
}

li {
display: inline;
text-decoration: none;
margin: 2px;

}
a {
color: white;
}

section {
display: flex;
}

.section-heading {
/*flex: 1;*/
min-width: 300px;
font-size: 20px;
font-family: serif;
color: rgb(18, 18, 139);
border-right: 5px solid blue;
}

.section-body {
flex: 1;
font-size: 20px;
font-family: serif;
color: rgb(18, 18, 139);
display: flex;
justify-content: center;
align-items: center;
}

.about-me-title {
min-height: 200px;
}

body,
h2,
p {
margin: 0;
}

#banner {
font-size: 20px;
color: white;
display: flex;
justify-content: end;
align-self: center;
}

.hero-banner {
background-image: url(../challenges/Unit-2-Challenge-Portfolio-page/starter/images/02-hero-bg.jpg);
width: 100%;
height: 100%;
display: flex;
padding: 30px;
object-fit: cover;
}

article {
position: relative;
}

.tiles {
background: lightcyan;
/* align-self: flex-end; */
margin: 1rem, 1rem, .4rem; 
padding: 1rem;
/* box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1); */
position: absolute;
bottom: 50px;
border: 2px solid lightgreen;
border-radius: 30%;
}

article img {
width: 100%;
height: 100%;
display: flex;
object-fit: cover; 
}

.section-grid {
display: grid;
grid-template-columns: 1fr 1fr;
margin-inline: auto;
gap: 20px;
margin-right: 80px;
margin-left: 80px;
}

article:nth-child(1) {
grid-column: 1 / 3;
}

.contact-me {
color: rgb(18, 18, 139);
font-family: serif;
font-size: 18px;
}